.DS_Store
data
indices*
.ipynb_checkpoints
shape_chicago_blocks
venv
*.ipynb
.vscode
*.csv
notebook/
result/
__pycache__
network_data/
inverted_indices/

## evaluation result files
evaluation/run_time/
evaluation/plots/
evaluation/graph_results*/
evaluation/correlations*/
evaluation/synthetic_eval/data/
evaluation/synthetic_eval/*.png
evaluation/final_plots/

data.zip
.idea
test.txt
join_key_data/
lazo_joinable/
lazo_eval/join_ground_truth_T_GRANU.DAY_S_GRANU.BLOCK_overlap_10.json
*.png
*.json
nexus.egg-info
nexus
tmp
config_test.yaml