.DS_Store
data
indices*
.ipynb_checkpoints
shape_chicago_blocks
venv
*.ipynb
.vscode
*.csv
notebook/
result/
resource/
__pycache__
network_data/
inverted_indices/

## evaluation result files
evaluation/run_time/
evaluation/plots/
evaluation/graph_result/